<div class="container">
    <h1>About the Handlebars Project</h1>
    <p>
        This project is a server-side rendered (SSR) application built using Express.js and Handlebars.js. It utilizes Handlebars as the templating engine to dynamically generate HTML content on the server. The goal of this project is to create a modular and reusable codebase for building web applications with dynamic templates, while maintaining clean and readable HTML templates.
    </p>

    <div>
        <h3>
            Technologies Used
        </h3>
        <ul>
            <li>
                Express.js: Backend framework for handling routes and middleware
            </li>
            <li>
                Handlebars.js: Templating engine for generating dynamic views.
            </li>
            <li>
                Node.js: Server-side runtime for executing the application.
            </li>
            <li>
                Bootstrap: CSS framework for responsive design and styling.
            </li>
        </ul>




    </div>
</div>